section#error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  width: 100vw;
}
p.err-title {
	display: flex;
	position: relative;
	padding: 15px 30px;
	color: rgb(50,50,50);
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 36px;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
}
